<div class=”container”>
    <div class = "centered">
        <h1>나는 당신의 과거 술버릇을 알고 있다!!!</h1>
  </div>
</div>

<form action="/home/result" method="get">
  <p>이름을 입력해주세요</p>
 <input type="text" name="name">
 <br>
   <input type="submit" value="보러가기">
</form>

